<div class="d-flex flex-column p-3">

    <h5 class="mb-4">
        DMAIC Toolkit
    </h5>

    <ul class="nav nav-pills flex-column">

        <li class="nav-item">
            <a href="{% url 'dashboard' %}"
               class="nav-link">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item mt-2">
            <span class="text-muted small">
                PROJECTS
            </span>
        </li>

        <li class="nav-item">
            <a href="#"
               class="nav-link">
                <i class="bi bi-folder2-open"></i>
                Projects
            </a>
        </li>

        <li class="nav-item mt-3">
            <span class="text-muted small">
                QUALITY TOOLS
            </span>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Pareto Chart
            </a>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Histogram
            </a>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Fishbone
            </a>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                5 Why
            </a>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Cp/Cpk
            </a>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Control Charts
            </a>
        </li>

        <li class="nav-item mt-3">
            <span class="text-muted small">
                REPORTS
            </span>
        </li>

        <li>
            <a href="#"
               class="nav-link">
                Reports
            </a>
        </li>

    </ul>

</div>